@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    position: fixed;
    z-index: 999;
    padding: 10px 200px;
}


header .logo {
    font-weight: 700;
    font-size: 1.8em;
    color: rgb(7, 26, 110);
    text-transform: uppercase;
}


header nav a{
    color: rgb(7, 26, 110);
    padding-left: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
}


header nav a:hover {
    color: rgb(27, 59, 205);
}

header .bar {
    display: none;
}



.main{
    padding: 100px 200px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(7, 26, 110), rgb(8, 13, 34))
} 

.main h1 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 800;
}

.main h2 {
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
    color: rgb(43, 77, 228);
}

.main .main-btn {
    text-align: center;
    width: 180px;
    color: #fff;
    background-color:  rgb(43, 77, 228);
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    padding: 6px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 30px;
    transition: 0.5s ease;
}

.main .main-btn:hover {
    background-color: rgb(21, 38, 117) ;
    transform: scale(1.1);

}

.social-icon a {
    margin: 0;
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.5s ease;
}

.main .social-icon a:hover {
    color:  rgb(21, 38, 117);
}

.title {
    color:  rgb(21, 38, 117);
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 2.2em;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects .contant {
    margin-top: 30px;
}

.card {
    background-color:  rgb(8, 13, 34) ;
    border: 5px solid  rgb(8, 13, 34);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover ,.img img {
    opacity: 0.9;
} 

.card .img img {
    width: 100%;
}

.card .info {
    padding: 5px;
    font-size: 1em;
    color: #fff;
}

.card .info strong {
    display: flex;
    justify-content: space-between;
}

.card .info strong a {
    color: #fff;
}



.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color:  rgb(8, 13, 34) ;
}

.contact .title {
    color: #fff;
}

.contact .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact .content .contact-card {
    background-color: #fff;
    border: 5px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
    border-radius: 10px;
    box-shadow:  5px #fff;
}


.contact .content .contact-card:hover {
    transform: scale(1.1);
}

.contact .content .contact-card .icon {
    color:  rgb(8, 13, 34);
    font-size: 10em;
    text-align: center;
}

.contact .content .contact-card .card-info {
    text-align: center;
    font-weight: 500;
    color: #000;
}


footer {
    background-color:  rgb(34, 50, 113) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

footer p {
    padding-right: 30px;
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
}


footer span {
    color: rgb(8, 12, 27) ;
}

.social-icon a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;

}

@media (max-width: 1023px) {
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 5;
    }
    .main {
        padding: 10px 20px;
    }
    .main h2 {
        font-size: 2.3em;
    }
    footer{
        padding: 5px;
    }
    footer p {
        margin-top: 20px;
        font-size: 1em;
    }
    .social-icon a {
        padding-right: 2px;
        padding-left: 2px;
        font-size: 1.2em;
    }
}